<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="arcs.android.demo.ui"
  android:versionCode="1"
  android:versionName="1.0">

  <uses-permission android:name="android.permission.INTERNET"/>

  <uses-sdk
    android:minSdkVersion="29"
    android:targetSdkVersion="29"/>

  <application>
    <activity
      android:name=".MainActivity"
      android:label="ArcsHarnessApp">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".AutofillDemoActivity"
      android:label="Autofill Demo" />

    <activity
        android:name=".NotificationDemoActivity"
        android:label="Notification Demo" />
  </application>
</manifest>
