<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arcs.android.service">

    <uses-sdk
        android:minSdkVersion="29"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:usesCleartextTraffic="true">
        <service
            android:name=".ArcsService"
            android:exported="true" />
    </application>
</manifest>
