version: '0.0.{build}'

environment:
  nodejs_version: '10.15.3'

platform: x64

init:
  - cmd: set NODE_OPTIONS=--max-old-space-size=1024

install:
  - ps: $Env:Path # What's currently in the path?
  - ps: Install-Product node $env:nodejs_version $env:Platform
  - npm install -g npm@6.9.0
  - node -e "console.log(process.arch);"
  - appveyor-retry npm install

build: off

# Instead of specific targets, this should use `npm test`.
# But, that needs some work, and the tests themselves aren't stable so I'm
# going to wait to add more sources of possible failure.
test_script:
  - node --version
  - npm --version
  - npm run test-no-web
