version: '0.0.{build}'

environment:
  nodejs_version: '10.15.3'

platform: x64

init:
  - cmd: set NODE_OPTIONS=--max-old-space-size=1024

install:
  - ps: $Env:Path # What's currently in the path?
  - ps: Install-Product node $env:nodejs_version $env:Platform
  - npm install -g npm@6.9.0
  - node -e "console.log(process.arch);"
  - appveyor-retry npm install

build: off

# The following test suite should be the same as on parker.
test_script:
  - node --version
  - npm --version
  - npm list --depth=0
  - tools\sigh test
  - npm run test-extension
