# Copyright (c) 2018 Google Inc. All rights reserved.
# This code may only be used under the BSD style license found at
# http://polymer.github.io/LICENSE.txt
# Code distributed by Google as part of this project is also
# subject to an additional IP rights grant found at
# http://polymer.github.io/PATENTS.txt

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.kt]
indent_size = 2
max_line_length = 100
trim_trailing_whitespace = true
insert_final_newline = true
kotlin_imports_layout=ascii
# Argument wrapping currently disabled due to
#   https://github.com/pinterest/ktlint/issues/926
disabled_rules=experimental:argument-list-wrapping

