**/node_modules
**/dist
**/*.swp
**/*.swo
**/.DS_Store
**/*~
\#*\#
.\#*
.eslint_sigh_cache
.idea
.rpt2_cache
**/trace.json
src/runtime/browser-test/browser-test-ified.js
src/gen/**/*
manifest-railroad.html
flow-assertion-railroad.html
**/*.code-workspace
shell/build
shell/test/errorShots
shells/env/build
shells/test/errorShots
devtools/deps
enclave/bazel-*
enclave/sdk
enclave/toolchains
enclave/host/storage/db.img
enclave/host/storage/key
build
src/gen
coverage
.vscode
devtools/build
server/log.txt
pack-stats.json
default.profraw
# pouch local database
user-test/
test-output
# large files in node_modules that cause failure to deploy to github pages
node_modules/@tensorflow/tfjs-node/deps/lib/libtensorflow.so 
node_modules/.cache/
server/node_modules/@tensorflow/tfjs-node/deps/lib/libtensorflow.so
server/node_modules/.cache/
bazel-bin
bazel-genfiles
bazel-javaharness
bazel-out
bazel-testlogs
.ijwb
