**/node_modules
**/*.swp
**/*.swo
**/.DS_Store
**/*~
\#*\#
.\#*
.eslint_sigh_cache
**/trace.json
runtime/browser-test/browser-test-ified.js
manifest-railroad.html
**/*.code-workspace
shell/build
shell/test/errorShots
devtools/deps
