language: node_js  # https://docs.travis-ci.com/user/languages/javascript-with-nodejs/
dist: xenial
env:
  global:
    # an encrypted 'GITHUB_TOKEN=<token>' for the PolymerLabs/arcs repo
    secure: "qFfvf0YAK5NWkH5fj708Z+1qIHtOFrmNhslB+n14rt5J3fJjY0A/4lbLbhx2jACYME+OU2m66maxh5abEZCF4ZGi4zpJa01IUYesTTa3qdM9kozB2TfFcl0d1xffuGpAh9kPchaadCvx/BU9fYFzkd8CLD5mQWCybwqM+6xpoO/KULDXhlcOPGbzg65xmPJANZH+ldH0NgfVLqofeFUg1j0bke1n+7DLf+Oh4ZiYZavciJjhuYx561TkkSEd1gqQGImEfkmKmhz82E8curx6uJW+kD9WagNbLj4FvEsBETIM7BSE8sei2vOVO42OnzvCej+P98IUelEqBS6sTeUNp79f8cC8n7nSYUJwTpshturBFoIFfcVQNoebdaao6gWpnxhUEnsc36AMl0DpIT0DsA9SxZQRjqhAEZmAWmASJMc5t/jWIjmJrqQxDy80HGJPEhIMTOAZfAiFqwyQwYTvJ0tOTW+jk2P9oriLHwi0Pr88uPGD5HWS6ULPoAutQAWMKCYgb5PoOiB8vbUZT9RTXfdLkHLkpw0ICaj5sam2o32CMLm8KZzfNVLJ/kUgdnkYUpC0vo+PGfguiJX8fvZxB06+niljW9iHteqVuoP1tADQwby4jS2ob3eL7TgCGuGk6gQkvHkLmOzlagKeXu1YZ0ow5vq6C+vSEfKEzIDrhXk="

services:
  - docker

# todo: remove this once travis fixes their upstream issue (travis-ci/travis-ci#8836)
sudo: required

# We want email to the whole team when the cron build fails. But regular PR
# builds don't trigger email at all (per https://docs.travis-ci.com/user/notifications/#configuring-email-notifications),
# so configuring email notifications should send them only from cron builds.
notifications:
  email:
    recipients:
      - arcs-team+cron@google.com
    on_success: never # default: change
    on_failure: always # default: always

# Bazel build & test everything.
jobs:
  include:
    - stage: test
      script: tools/run_in_docker "./tools/bazelisk --bazelrc=tools/travis.bazelrc build //particles/... && ./tools/bazelisk --bazelrc=tools/travis.bazelrc test //particles/... && tools/sigh webpackStorage && tools/sigh testShells"
      name: "Bazel: //particles/... + testShells"
    - script: tools/run_in_docker "./tools/bazelisk --bazelrc=tools/travis.bazelrc build //java/... //javatests/... && ./tools/bazelisk --bazelrc=tools/travis.bazelrc test //java/... //javatests/..."
      name: "Bazel: //java/... and //javatests/..."
    - script: tools/run_in_docker "./tools/bazelisk --bazelrc=tools/travis.bazelrc build //src/... && ./tools/bazelisk --bazelrc=tools/travis.bazelrc test //src/..."
      name: "Bazel: //src/..."
    - script: tools/run_in_docker "tools/sigh lint && tools/sigh test --all"
      name: "Sigh lint & test"
    - stage: deploy
      if: type != pull_request AND branch = master
      script: tools/deploy
      deploy:
        provider: pages
        skip-cleanup: true
        github-token: $GITHUB_TOKEN
        keep-history: true
        repo: PolymerLabs/arcs-live
        target_branch: master
        verbose: true
        on:
          branch: master

# Disable NPM cache as it's caching node_modules (not ~/.npm) since we aren't using
# `npm ci`, and caching node_modules can mask errors due to a fresh install missing
# modules that were previously present.
# TODO(wkorman): Look at cleaning up disk-cache items in tools/* as they may have related to
# the npm cache, and we're not sure we're still using the bazel cache they were intended for
# either.
cache:
  npm: false

# Pulling container from https://hub.docker.com/repository/docker/arcproject/travis-build
before_install:
  - docker pull arcsproject/travis-build:latest
  - mkdir -p ./disk-cache/

install:
  - tools/run_in_docker "tools/npm-install-all"
