language: node_js  # https://docs.travis-ci.com/user/languages/javascript-with-nodejs/
dist: xenial
env:
  global:
    # an encrypted 'GITHUB_TOKEN=<token>' for the PolymerLabs/arcs repo
    secure: "qFfvf0YAK5NWkH5fj708Z+1qIHtOFrmNhslB+n14rt5J3fJjY0A/4lbLbhx2jACYME+OU2m66maxh5abEZCF4ZGi4zpJa01IUYesTTa3qdM9kozB2TfFcl0d1xffuGpAh9kPchaadCvx/BU9fYFzkd8CLD5mQWCybwqM+6xpoO/KULDXhlcOPGbzg65xmPJANZH+ldH0NgfVLqofeFUg1j0bke1n+7DLf+Oh4ZiYZavciJjhuYx561TkkSEd1gqQGImEfkmKmhz82E8curx6uJW+kD9WagNbLj4FvEsBETIM7BSE8sei2vOVO42OnzvCej+P98IUelEqBS6sTeUNp79f8cC8n7nSYUJwTpshturBFoIFfcVQNoebdaao6gWpnxhUEnsc36AMl0DpIT0DsA9SxZQRjqhAEZmAWmASJMc5t/jWIjmJrqQxDy80HGJPEhIMTOAZfAiFqwyQwYTvJ0tOTW+jk2P9oriLHwi0Pr88uPGD5HWS6ULPoAutQAWMKCYgb5PoOiB8vbUZT9RTXfdLkHLkpw0ICaj5sam2o32CMLm8KZzfNVLJ/kUgdnkYUpC0vo+PGfguiJX8fvZxB06+niljW9iHteqVuoP1tADQwby4jS2ob3eL7TgCGuGk6gQkvHkLmOzlagKeXu1YZ0ow5vq6C+vSEfKEzIDrhXk="

# todo: remove this once travis fixes their upstream issue (travis-ci/travis-ci#8836)
sudo: required
addons:
  chrome: stable

script:
  - npm run test-with-start
  - npm run build:rollup
  - npm --prefix=server test
  # Bazel build & test everything. Can't use `bazel build ...` yet, because
  # javaharness doesn't build on Travis (needs working Android SDK).
  - >
    bazel build --noshow_progress --noshow_loading_progress
    //particles/...
    //src/...
    //src_kt/...
  - >
    bazel test --noshow_progress --noshow_loading_progress --test_output=errors
    //particles/...
    //src/...
    //src_kt/...

cache: npm

# Thinking about adding install steps? Why not modify the tools/setup script instead?
install:
  - ./tools/setup


before_deploy:
  # build apidocs
  - cd ${TRAVIS_BUILD_DIR} && npm run build:typedoc
  # Travis pages deploys skips artifacts from .gitignore. We need some of those, so
  # remove them from .gitignore.
  - cd ${TRAVIS_BUILD_DIR} && sed -i.sedbackup -e '/^shells\/env\/build$/d' .gitignore
  - cd ${TRAVIS_BUILD_DIR} && sed -i.sedbackup -e '/^build$/d' .gitignore
  - cd ${TRAVIS_BUILD_DIR} && sed -i.sedbackup -e '/^devtools\/deps$/d' .gitignore
  - cd ${TRAVIS_BUILD_DIR} && sed -i.sedbackup -e '/^\*\*\/dist$/d' .gitignore
  - cd ${TRAVIS_BUILD_DIR} && git log -n 1 > VERSION
  # remove an inaccurate README from arcs-live
  - cd ${TRAVIS_BUILD_DIR} && rm README.md
  # Temporarily push node_modules to arcs-live,
  # with the exception of exe files as Github complains about them.
  - cd ${TRAVIS_BUILD_DIR} && sed -i.sedbackup -e 's/^\*\*\/node_modules$/\*\*\/node_modules\/\*\*\/\*\.exe/' .gitignore
  - cd ${TRAVIS_BUILD_DIR} && rm -f server/node_modules/arcs
  # Configure for live.arcs.dev domain name and default web-shells redirect
  - cd ${TRAVIS_BUILD_DIR} && echo "live.arcs.dev" > CNAME
  - cd ${TRAVIS_BUILD_DIR} && echo '<head><meta http-equiv="refresh" content="0;/shells/web-shell/"></head>' > index.html


deploy:
  provider: pages

  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  repo: PolymerLabs/arcs-live
  target_branch: master
  verbose: true
  on:
    branch: master
