<!--
  ~ Copyright 2020 Google LLC.
  ~
  ~ This code may only be used under the BSD style license found at
  ~ http://polymer.github.io/LICENSE.txt
  ~
  ~ Code distributed by Google as part of this project is also subject to an additional IP rights
  ~ grant found at
  ~ http://polymer.github.io/PATENTS.txt
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="arcs.android.demo">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="29"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".DemoApplication">
        <activity
            android:name=".DemoActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

      <service
        android:name=".DemoService"
        android:exported="false">
        <intent-filter>
          <action android:name="arcs.android.host.ARC_HOST"/>
        </intent-filter>
      </service>
    </application>
</manifest>
