---
---

@import "{{ site.theme }}";

#header_wrap .inner {
    padding: 50px 10px 0px 10px;
}

#main_menu.inner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #212121;
}

#main_menu.inner li {
    display: inline;
    float: left;
}

#main_menu.inner li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 32px 14px 0px;
    text-decoration: none;
}

#main_menu.inner .active {
    font-weight: bold;
}
