<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="arcs.android.demo">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <uses-sdk
    android:minSdkVersion="29"
    android:targetSdkVersion="29"/>
  <application android:label="Arcs Demo">
  </application>
</manifest>
