<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="arcs.android.demo.service">

  <uses-sdk
    android:minSdkVersion="29"
    android:targetSdkVersion="29"/>

  <uses-permission android:name="android.permission.INTERNET"/>

  <application android:usesCleartextTraffic="true">
    <service
        android:name=".ArcsService"
        android:exported="false"/>

    <service
        android:name=".ArcsAutofillService"
        android:label="Arcs Demo Autofill Service"
        android:permission="android.permission.BIND_AUTOFILL_SERVICE">
      <intent-filter>
        <action android:name="android.service.autofill.AutofillService" />
      </intent-filter>
    </service>
  </application>
</manifest>
